<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <link rel="stylesheet" href="/styles/todo.css">
</head>

<body>
    <h1 class="title">Todo App</h1>
    <form class="form" action="/todos" method="post">
        <input class="input" type="text" name="task" id="task" placeholder="Enter task" required>
        <button class="add-btn" type="submit">Add Task</button>
    </form>
    <ul class="task-list">
        <% todos.forEach(todo => { %>
        <li class="task-item" id="<%= todo._id %>">
            <span class="task-name"><%= todo.task %></span>
            <button class="delete-btn" onclick="deleteTask('<%= todo._id %>')">Delete</button>
        </li>
        <% }) %>
    </ul>

    <script>
        function deleteTask(taskId) {
            // Send a DELETE request to the server
            fetch(`/todos/${taskId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Remove the task from the DOM
                        const taskItem = document.getElementById(taskId);
                        taskItem.parentNode.removeChild(taskItem);
                    }
                })
                .catch(error => console.error(error));
        }
    </script>
</body>

</html>
